{% extends 'training_note/main.html'%}
{% load static %}
{% block head %}
<style>
        .card-img-top {
                width: 100%;
                height: 9vw;
                object-fit: cover;
        }

        .center {
                margin: auto;
                width: 50%;
                padding: 10px;
        }
</style>
{% endblock %}
{% block content %}
{% include 'training_note/home_slider.html'%}
<div class="row">
        <div class="col-10 py-3 text-dark h2">Training List</div>
        {% if request.user.is_authenticated and request.user.is_teacher %}
        <div class="col-2 m-auto"><a class="btn btn-outline-info text-info bg-white" href="{% url 'title-create'%}">Add
                        Title</a>
        </div>
        {% endif %}
</div>

<div class="row row-cols-2 row-cols-md-6  g-6">
        {% for title in titles%}
        <div class="col">

                <div class="card h-100">
                        {% if title.image %}
                        <img src="{{title.image.url}}" class="card-img-top w-auto h-30" alt="...">
                        {% else %}
                        <img src="{% static 'images/hello-fb-logo.png' %}" class="card-img-top h-30 w-auto" alt="...">
                        {% endif %}
                        <div class="card-body">
                                <h5 class="card-title">{{ title.title_name }}</h5>
                                <p class="card-text">{{ title.title_description }}

                                </p>
                                {% if request.user.is_authenticated %}
                                <div>
                                        {% if not request.user.is_teacher %}

                                        <a class="btn btn-outline-info text-info bg-white"
                                                href="{% url 'title' title.id %}"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                                                        <path
                                                                d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                                        <path
                                                                d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                                                </svg>
                                        </a>
                                        {% elif request.user.is_teacher %}
                                        <a class="btn btn-outline-dark text-dark bg-white"
                                                href="{% url 'title-edit' title.id %}"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                        <path
                                                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                                </svg>
                                        </a>
                                        <a class="btn btn-outline-danger text-danger bg-white"
                                                href="{% url 'title-delete' title.id %}"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path
                                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                        <path fill-rule="evenodd"
                                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                </svg>
                                        </a>
                                        {% endif %}
                                </div>
                                {% endif %}
                        </div>
                        <div class="card-footer">
                                <small class="text-muted">Started Since {{ title.created_date }}</small>
                        </div>
                </div>

        </div>
        {% endfor %}
</div>
<div class="pagination center pt-4">
        <span class="step-links">
                {% if page_obj.has_previous %}
                <a class="btn btn-outline-primary text-primary" href="?page=1">&laquo; first</a>
                <a class="btn btn-outline-primary text-primary"
                        href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a class="btn btn-outline-primary text-primary" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="btn btn-outline-primary text-primary" href="?page={{ page_obj.paginator.num_pages }}">last
                        &raquo;</a>
                {% endif %}
        </span>
</div>

{% endblock %}